.nav-link::after{
    content:" \02C5";
    color: gray;
}

.search{
    padding-inline: 20px;
    font-size: 20px;
}

.header{
    background-image: url(../img/jumbo-bg.png);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-desc{
    text-align: left;
    width: 400px;
    padding-left: 30px;
    padding-bottom: 30px;
    color: white;
}

.header-desc > img{
    max-width: 300px;
}

.header-desc > button{
    margin-top: 20px;
}

.games-list{
    padding-top: 20px;
    padding-bottom: 20px;
}
.games-list img{
    width: 100%;
    border-radius: 10px;
    border: 3px solid rgba(0,0,0,0);
}

#selected{
    border: 2px solid blue;
    border-radius: 10px;
}