.nav-link::after{
    content:" \02C5";
    color: gray;
}

.search{
    padding-inline: 20px;
    font-size: 20px;
}

.header{
    background-image: url(../img/jumbo-bg.png);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
}

.header-desc{
    text-align: left;
    width: 400px;
    padding-left: 30px;
    padding-bottom: 30px;
    color: white;
}

.header-desc > img{
    max-width: 300px;
}

.header-desc > button{
    margin-top: 20px;
    background-color: rgb(255, 123, 0);
    border-radius: 20px;
    color: white;
}


.games-list{
    padding-top: 20px;
    padding-bottom: 20px;
}
.games-list img{
    width: 100%;
    border-radius: 10px;
    border: 3px solid rgba(0,0,0,0);
}

.game-container{
    border: 2px solid rgba(0,0,0,0);
    border-radius: 10px;
}

#selected{
    border-color:blue;
}

.ps5-container{
    padding-top: 30px;
}

.ps5-intro{
    text-align: center;
}
.motto{
    text-transform: uppercase;
    color:rgb(34, 115, 221);
}
.ps5-intro h5{
    color: gray;
}

.ps5-text button{
    border-radius: 20px;
    margin-top: 20px;
}

.ps5-pic img{
    width: 100%;
}

.ps5-item{
    text-align: center;
    font-size: 18px;
    padding-bottom: 10px;
}

.ps5-item:first-child{
    padding-bottom: 30px;
    border-bottom: 2px solid blue;
}

.ps5-item img{
    width: 100%;
    display: block;
}