.sony{
    background-color: black;
    padding: 10px;
}

.sony > img{
    max-width: 100px;
}

.nav-link::after{
    content:"\22C1";
    margin-left: 5px;
    color: gray;
    font-size: 12px;
    font-weight: bold;
}

.search{
    padding-inline: 20px;
    font-size: 20px;
}

#my-ps{
    color: black;
}

#login{
    border-radius: 20px;
}

.banner{
    background-image: url(../img/jumbo-bg.png);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-desc{
    text-align: left;
    padding-left: 30px;
    padding-bottom: 30px;
    color: white;
}

.banner-desc > img{
    max-width: 300px;
}

@media screen and (max-width:991px) {
    .banner-desc{
        font-size: 16px;
        line-height: 30px;
    }

    .banner-desc > h1{
        font-size: 50px;
        line-height: 100px;
    }

    .banner-desc > img{
        max-width: 500px;
    }
}

.banner-desc > button{
    margin-top: 20px;
    background-color: rgb(212, 103, 0);
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    color: white;
}


.games-list{
    padding-top: 20px;
    padding-bottom: 20px;
}
.games-list img{
    width: 100%;
    border-radius: 10px;
    border: 3px solid rgba(0,0,0,0);
}

.game-container{
    border: 2px solid rgba(0,0,0,0);
    border-radius: 10px;
}

.game-container:hover{
    border-color:blue;
}

.ps5-container{
    padding-top: 30px;
    padding-bottom: 30px;
}

.ps5-intro{
    text-align: center;
    padding-bottom: 20px;
}
.motto{
    text-transform: uppercase;
    color:rgb(34, 115, 221);
}
.ps5-container h5{
    color: gray;
}

.ps5-text{
    padding-top: 20px;
}

.ps5-text button{
    border-radius: 20px;
    margin-top: 20px;
}

.ps5-pic img{
    width: 100%;
}

.ps5-item{
    text-align: center;
    font-size: 14px;
    padding-bottom: 40px;
    border-bottom: 2px solid rgba(0,0,0,0);
}

.ps5-item:nth-child(3){
    padding-bottom: 19px;
}

.ps5-item:hover{
    border-color:blue;
}

.ps5-item img{
    width: 60%;
    margin-inline: auto;
    display: block;
}

@media screen and (max-width:767px) {

    .ps5-item{
        padding-bottom: 0;
    }
    .ps5-item span{
        display: none;
    }
}

.it-takes-two-banner{
    height: 750px;
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}


.it-takes-two-desc > img{
    max-width:300px;
}


.new-releases{
    background-color: rgb(37, 35, 35);
    color: white;
    text-align: left;
    font-size: 18px;
    padding: 50px 20px 70px 20px;
}

.game-release > img{
    width: 100%;
    border-radius: 20px;
}

.ps4-container{
    text-align: center;
    color: gray;
    font-size: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.ps4-container h1{
    font-size: 40px;
    color: black;
}

.ps4-item{
    text-align: left;
    margin-top: 40px;
}

.ps4-item img{
    width: 100%;
    margin: 0 auto;
}

.ps4-item button{
    margin-top: 20px;
    border-radius: 14px;
}

.ps-plus-container{
    background-color: rgb(201, 195, 195);
    color: black;
    text-align: left;
    font-size: 20px;
    line-height: 30px;
    width: 100%;
}

.ps-plus-desc{
    margin-bottom: 30px;
    width: 50%;
    font-size: 16px;
}

.ps-plus-desc > img{
    width: 50%;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ps-plus-desc > button{
    margin-top: 20px;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.5);
    border: 3px solid rgba(0,0,0,0);
    color: blue;
}

.ps-plus-container > img{
    width: 40%;
}

@media screen and (max-width:767px) {
    .ps-plus-container > img{
        display: none;
    }

    .ps-plus-desc{
        width: 100%;
    }
}



.ps-store-container{
    text-align: center;
    line-height: 40px;
    padding-top: 40px;
    padding-inline: 20px;
    padding-bottom: 40px;
}

.ps-store-container h1{
    font-size: 40px;
}

.ps-store-container h5{
    color: gray;
}

.ps-store-item{
    padding-top: 20px;
}

.ps-store-item > img{
    width: 100%;
}

.ps-now-container{
    background-color: rgb(23, 23, 51);
    color: white;
    padding-inline: 20px;
}

.ps-now-container button{
    background-color: white;
    color: black;
}

.social-container{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.social-container img{
    margin-top: 30px;
    width: 100%;
}

.ps-footer{
    padding-top: 30px;
    padding-bottom: 60px;
    padding-inline: 30px;
    background-color: rgb(6, 45, 155);
    color: white;
}

    .copyright img{
        width: 150px;
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #globe{
        width: 20px;
        display: inline-block;
        padding: 0;
    }

    #sie{
        padding-bottom: 20px;
        width: 170px;
    }

    .links{
        padding-inline: 20px;
    }

    .ps-footer ul{
        list-style-type: none;
        line-height: 32px;
    }